<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NYIOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NYIOSCore.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>NYNetwork.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>39E57B8C2A6F091C00F232AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39E57B9C2A6F092100F232AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39E57BA62A6F092100F232AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39E57BC72A6F098600F232AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
